//variáveis, importações e reset

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,600&display=swap');

$Teal-and-Blush-1-hex: #23606E;
$rosinha: #FACFCE;
$verde-claro: #008F8C;
$Teal-and-Blush-4-hex: #015958;
$verde-escuro: #023535;
$fonte-principal: 'Montserrat', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
